body{
    background-color: #3A3A3A;
    color: #fff;
}
h1, h2{
    color: rgb(90, 117, 193);
}
p{
    color: #fff;
}
a{
    color: red;
}
li{
    color: #fff;
}
img{
    width: 500px;
}
.right{
    margin-left: 100px;
}
div{
    display: inline-block;
}
span{
    color: yellow;
}